
	<footer id="footer" class="panel">
		<div class="inner split">
			<div>
				<section>
					<h2>Magna feugiat sed adipiscing</h2>
					<p>Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum eget quis orci mattis aliquet. Maecenas fringilla et ante at lorem et ipsum. Dolor nulla eu bibendum sapien. Donec non pharetra dui. Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum.</p>
				</section>
				<section>
					<h2>Znajdź mnie na &hellip;</h2>
					<ul class="icons">
						{{ with .Site.Params.Twitter -}}
							<li><a href="{{ . }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						{{- end }}
						{{ with .Site.Params.Facebook -}}
							<li><a href="{{ . }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						{{- end }}
						{{ with .Site.Params.Instagram -}}
							<li><a href="{{ . }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						{{- end }}
						{{ with .Site.Params.GitHub -}}
							<li><a href="{{ . }}" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						{{- end }}
						{{ with .Site.Params.Dribbble -}}
							<li><a href="{{ . }}" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						{{- end }}
						{{ with .Site.Params.LinkedIn -}}
							<li><a href="{{ . }}" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						{{- end }}
					</ul>
				</section>
				<p class="copyright">
					&copy; {{ .Site.Params.Author }}.
				</p>
			</div>
			<div>
				<section>
					<h2>Skontaktuj się ze mną</h2>
					<form method="post" action="#">
						<div class="fields">
							<div class="field half">
								<input type="text" name="name" id="name" placeholder="Imię i Nazwisko" />
							</div>
							<div class="field half">
								<input type="text" name="email" id="email" placeholder="Email" />
							</div>
							<div class="field">
								<textarea name="message" id="message" rows="4" placeholder="Wiadomość"></textarea>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Wyślij" class="primary" /></li>
							<li><input type="reset" value="Wyczyść" /></li>
						</ul>
					</form>
				</section>
			</div>
		</div>
	</footer>
